<app-title-bar [Title]="title"></app-title-bar>

<p-toast position="bottom-right"></p-toast>

<div class="d-flex justify-content-center mt-5">
    <!-- section of order details-->

    <div class="d-flex flex-column w-50">

        <!--image of product in the left side-->
        <div class="d-flex mb-lg-3" *ngFor="let cart of shoppingCartDetails;">
            
            <img src="{{ cart.url }}" alt="" class="rounded-2">

            <!--image of product in the left side-->
            <div class="d-flex flex-column mx-4 justify-content-center">
                <h4>{{ cart.name }}</h4>
                <span>price :{{ cart.price | currency }}</span>  
                <div class="row d-flex">
                    <label class="col-sm-2  col-form-label">Amount</label>
                    <select class="form-control d-inline-flex" name="count" [(ngModel)]="cart.count" #count="ngModel" (ngModelChange)="updatePrice(cart.id ,cart.price, count.value)">
                        <option value="{{ item }}" *ngFor="let item of items">{{ item }}</option>
                    </select>
                </div>
                <p>total : {{ cart.total | currency}}</p>
            </div>
        </div>
    </div>

    <!-- section of payment checkout-->
    <div class="d-flex flex-column w-25 form-control border-0 p-lg-4">
        <h2 class="text-center mb-lg-2"><u>Credit Details</u></h2>

        <app-payment-form [totalPriceToChild]="totalPrice" (userDataToParent)="receiveDataInParent($event)"></app-payment-form>

    </div>
</div>